<% layout("/layouts/boiler") %>
<body>
    <div class="row">
        <div class="col-8  offset-2" >

    

    <div class="row col-6 offset-3 show-card listing-card">
         <h3><%= listing.title %></h3>
       <img src="<%=  listing.image.url %>" class="card-img-top show-img" alt="listing_image">
  <div class="card-body">
    
    <%= listing.description %> <br>
    &#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") : "Price not available" %>
      <%= listing.location %> <br>
        <%= listing.country %> 
    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p> -->
  </div>  
    </div>



    <br>
    <div class="btns">
    <a href="/listings/<%=listing._id%>/edit"  class="btn btn-dark col-0 offset-3 edit-btn">Edit</a>
    <br><br>
    <form method="POST" action="/listings/ <%=listing._id %>?_method=DELETE" >
        <button class="btn btn-dark  offset-5">Delete</button>
    </form>
    </div>
      </div>
      <div class="col-8  offset-2">
        <hr>
        <h4>Leave a review</h4>
        <form action="/listings/<%=listing.id %>/reviews" method="POST" novalidate class="needs-validation">
          <div class="mb-3 mt-3">
            <label for="rating"  class="form-label">Rating</label>
            <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
          </div>
          <div class="mb-3 mt-3">
            <label for="comment"  class="form-label">Comments</label>
            <textarea name="review[comment]" id="comment" cols="60" rows="5" class="form-control" required ></textarea>
            <div class="invalid-feedback">pls add comments</div>
          </div>
          <button class="btn btn-outline-dark">Submit</button>
        </form>
        <hr>
        <p><b>All Reviews</b></p>
        <div class="row">
          <% for( let review of listing.reviews) { %>
            <div class="card col-5 ms-3 mb-3">
              <h5 class="card-title">Sidharth Malhotra</h5>
             <p class="card-text"> <%= review.comment %></p>
             <p class="card-text"> <%= review.rating %> Star</p>
             <form  class="mb-3" method="POST" action="/listings/<%=listing._id %>/reviews/<%=review._id %>?_method=DELETE">
             <div>
              <button class="btn btn-sm btn-dark">Delete</button>
             </div>
             </form>
            </div>
          
         <% } %>
        </div>
      </div>
    </div>
</body>
